:root {
    --mainColor: aquamarine;
    --secondaryColor: #AEB8EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 75px;
}

.section1 {
    /* margin-top: 75px; */
    background-image: linear-gradient(to right, var(--mainColor), var(--secondaryColor));
}

.section1 h1 {
    padding-top: 70px;
    font-size: 6rem;
    text-align: center;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.9);
    font-weight: 900;
    color: #fff;
}

.section1 p {
    text-align: center;
    font-size: 1.25rem;
    width: 50vw;
    margin: 20px auto;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    color: #fff;
}

.section1 .links {
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .links a:link,
.section1 .links a:visited {
    width: 153px;
    height: 30px;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    line-height: 2;
    margin: 7px 15px;
    border-bottom: 2px solid #000;
    transition: all 0.5s ease-in-out;
}

.section1 .links a:hover {
    background-color: var(--secondaryColor);
}

.section2 {
    background-color: #fff;
    border-bottom: 2px solid lightgray;
}

.section2 ul {
    width: 80vw;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 ul li {
    min-width: 7vw;
    max-width: 25vw;
}

.section2 ul li img {
    width: 100%;
}

.section3 {
    background-color: #F6F6F6;
    padding: 70px 0;
}

.section3 img {
    width: 80vw;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 40px #00000066;
}

.section3 img:nth-child(2) {
    display: none;
}


/* game-present-page */
.game-present {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    background-color: #F6F6F6;
    width: 100%;
    padding: 13vh 10vw;
}

.game-present img {
    width: 25vw;
    border-radius: 15px;
    margin: 50px;
    display: block;
}

.game-present h1 {
    padding-top: 70px;
    font-size: 4rem;
    text-align: right;
}

.game-present p {
    font-size: 1.25rem;
    width: 45vw;
    margin: 20px auto;
    text-align: right;
}

.game-present .links {
    display: flex;
    align-items: center;
}

.game-present .links a:link,
.game-present .links a:visited {
    width: 153px;
    height: 30px;
    border-radius: 15px;
    background-color: aquamarine;
    color: #000;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    line-height: 2;
    margin: 7px 15px;
    transition: all 0.5s ease-in-out;
}

.game-present .links a:hover {
    background-color: var(--secondaryColor);
}

@media (max-width:950px) {
    .game-present {
        flex-direction: column-reverse;
        align-items: center;
        padding: 3vh 10vw;
    }

    .game-present img {
        width: 50vw;
    }

    .game-present p {
        width: 65vw;
        text-align: center;
    }

    .game-present h1 {
        text-align: center;
    }

    .game-present .links {
        justify-content: center;
    }
}


@media (max-width:768px) {
    .section1 h1 {
        padding-top: 60px;
        font-size: 4rem;
    }

    .section1 p {
        font-size: 1.2rem;
        width: 65vw;
    }

    .section1 .links {
        padding-bottom: 60px;
    }

    .section3 img:nth-child(1) {
        display: none;
    }

    .section3 img:nth-child(2) {
        display: block;
    }
}

@media (max-width:576px) {
    .section1 h1 {
        padding-top: 50px;
        font-size: 2.9rem;
    }

    .section1 p,
    .game-present p {
        font-size: 17px;
    }

    .section1 .links {
        padding-bottom: 50px;
        flex-direction: column;
    }

    .game-present h1 {
        font-size: 2.9rem;
    }

    .game-present img {
        width: 70vw;
    }

    .game-present .links {
        flex-direction: column;
    }
}