html {
    scroll-behavior: smooth;
}

/* nav */
header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    border-top: 1px solid aquamarine;
    background-color: #fff;
    box-shadow: 0 1px 7px lightgray;
    z-index: 10;
    font-family: Heebo;
}

#humburger {
    display: none;
}

nav {
    width: 80vw;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 35% 65%;
    height: 80px;
    grid-template-rows: 80px;
}

nav img {
    display: block;
    height: 55px;
    margin: 10px;
    cursor: pointer;
}

nav ul {
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: end;
}

nav ul li {
    list-style-type: none;

    a {
        text-decoration: none;
        font-size: 22px;
        color: #000;
        line-height: 3.5;
        padding: 10px;

        &:hover {
            color: aquamarine;
            font-weight: bold;
        }
    }
}

#navButton {
    color: aquamarine;
    display: none;
}

@media (max-width:900px) {
    nav ul li a {
        font-size: 19px;
    }
}


@media (max-width:768px) {
    nav {
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px 320px;
    }

    nav ul {
        grid-row: 2/3;
        grid-column: 1/3;

        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: start;
        /* display: none; */
    }

    #navButton {
        display: block;
        font-size: 45px;
        line-height: 1.8;
        text-align: right;
    }

    nav ul li {
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid aquamarine;
        text-align: right;

        a {
            margin: 0;
        }
    }

    nav img {
        grid-column: 1/2;
        height: 50px;
    }
}


@media (max-width:576px) {
    #navButton {
        font-size: 33px;
    }

    nav .item1 img {
        height: 45px;
        margin-top: 16px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

.none {
    display: none;
}