/* the fourth section - works */
.sec4 {
    background-color: #E4F4F8;
}

.sec4 h2 {
    margin: 0 auto 55px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    padding-top: 12vh;
}

.sec4>p {
    text-align: center;
    margin: 4vh auto 7vh;
    font-size: 20px;
    width: 45vw;
}

.sec4 .cards {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    direction: rtl;
    padding-bottom: 13vh;
}

.sec4 .cardwork {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.sec4 .cardwork img[alt=gallery] {
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.sec4 .cardwork img[alt=gallery]:hover {
    transform: scale(1.1);
}

.wrap {
    overflow: hidden;
}

.sec4 .cardwork h3 {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    margin: 25px;
}

.sec4 .cardwork p {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    margin: 20px;
}

.sec4 .cardwork .icons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 25px;
}

.sec4 .cardwork img[alt=icon] {
    width: 30px;
    height: 26px;
}

.sec4 .cardwork a:link,
.sec4 .cardwork a:visited {
    width: 153px;
    height: 30px;
    border-radius: 15px;
    background-color: $mainColor;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    line-height: 2;
    margin: 20px auto 50px;
    transition: all 0.5s ease-in-out;
}

.sec4 .cardwork a:hover {
    background-color: $secondaryColor;
}


/* tablet */
@media (max-width:900px) {

    /* the fourth section - works */
    .sec4 .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobile */
@media (max-width:610px) {

    /* the fourth section - works */
    .sec4 .cards {
        grid-template-columns: auto;
    }

    .sec4 h2 {
        font-size: 1.5rem;
        padding-top: 8vh;
    }

    .sec4>p {
        font-size: 15px;
        margin: 3vh auto 4vh;
        width: 70vw;
    }

    .sec4 .cardwork h3 {
        font-size: 16px;
        margin: 15px;
    }

    .sec4 .cardwork p {
        margin: 15px;
    }

    .sec4 .cardwork .icons {
        margin: 15px;
    }

    .sec4 .cardwork img[alt=icon] {
        width: 21px;
        height: 22px;
    }

    .sec4 .cardwork a:link {
        width: 129px;
        height: 25px;
        font-size: 10px;
        line-height: 2;
        margin: 15px auto 20px;
    }
}